<h1>PRODUCTOS</h1>

<table>
  <thead>
  <tr>
    <th>SKU</th>
    <th>General</th>
    <th>Despacho</th>
    <th>Recepcion</th>
    <th>Pulmon</th>
    <th>Total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @stock_por_almacen.each do |value| %>
      <tr>
        <td><%= value[0] %></td>
        <td><%= value[1] %></td>
        <td><%= value[2] %></td>
        <td><%= value[3] %></td>
        <td><%= value[4] %></td>
        <td><%= value[5] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<h1>ALMACENES</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Usado</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>General</td>
        <td><%= @stock_por_almacen[@stock_por_almacen.length-1][1] %></td>
        <td>34244</td>
      </tr>
      <tr>
        <td>Despacho</td>
        <td><%= @stock_por_almacen[@stock_por_almacen.length-1][2] %></td>
        <td>1780</td>
      </tr>
      <tr>
        <td>Recepcion</td>
        <td><%= @stock_por_almacen[@stock_por_almacen.length-1][3] %></td>
        <td>1039</td>
      </tr>
      <tr>
        <td>Pulmon</td>
        <td><%= @stock_por_almacen[@stock_por_almacen.length-1][4] %></td>
        <td>99999999</td>
      </tr>
      <tr>
        <td>General</td>
        <td>0</td>
        <td>4835</td>
      </tr>
  </tbody>
</table>

<br>

<h1>ORDENES DE FABRICACION</h1>

<div class="panel" style="width: 650px; height: 250px; overflow: scroll;">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>SKU</th>
        <th>CANTIDAD</th>
        <th>MONTO</th>
        <th>DISPONIBLE</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ordenes_fabricacion.each do |lib| %>
        <tr>
          <td><%= lib._id %></td>
          <td><%= lib.sku %></td>
          <td><%= lib.cantidad %></td>
          <td><%= lib.monto %></td>
          <td><%= lib.disponible %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h1>TRANSACCIONES</h1>
<div class="panel" style="width: 750px; height: 250px; overflow: scroll;">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>MONTO</th>
        <th>ORIGEN</th>
        <th>DESTINO</th>
        <th>EXITOSA</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |lib| %>
        <tr>
          <td><%= lib._id %></td>
          <td><%= lib.amount %></td>
          <td><%= lib.sender %></td>
          <td><%= lib.receiver %></td>
          <td><%= lib.exitosa %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h1>ORDENES DISTRIBUIDORES</h1>
<div class="panel" style="width: 750px; height: 250px; overflow: scroll;">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>ESTADO</th>
        <th>SKU</th>
        <th>CANTIDAD</th>
        <th>DESPACHADA</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @OCEstados.each do |lib| %>
        <tr>
          <td><%= lib._id %></td>
          <td><%= lib.estado %></td>
          <td><%= lib.sku %></td>
          <td><%= lib.ammount %></td>
          <td><%= lib.despachado %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= image_tag @graph%>
<%= image_tag @graph1%>
<br>
<%= image_tag @graph2%>
<%= image_tag @graph3%>
<br>
<%= image_tag @graph4%>
<br>
