<p id="notice"><%= notice %></p>

<p>
  <strong>Live:</strong>
  <%= @spree_my_pay.live %>
</p>

<p>
  <strong>Event code:</strong>
  <%= @spree_my_pay.event_code %>
</p>

<p>
  <strong>Psp reference:</strong>
  <%= @spree_my_pay.psp_reference %>
</p>

<p>
  <strong>Original reference:</strong>
  <%= @spree_my_pay.original_reference %>
</p>

<p>
  <strong>Merchant reference:</strong>
  <%= @spree_my_pay.merchant_reference %>
</p>

<p>
  <strong>Merchant account code:</strong>
  <%= @spree_my_pay.merchant_account_code %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @spree_my_pay.event_date %>
</p>

<p>
  <strong>Success:</strong>
  <%= @spree_my_pay.success %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @spree_my_pay.payment_method %>
</p>

<p>
  <strong>Operations:</strong>
  <%= @spree_my_pay.operations %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @spree_my_pay.reason %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @spree_my_pay.currency %>
</p>

<p>
  <strong>Value:</strong>
  <%= @spree_my_pay.value %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @spree_my_pay.processed %>
</p>

<%= link_to 'Edit', edit_spree_my_pay_path(@spree_my_pay) %> |
<%= link_to 'Back', spree_my_pays_path %>
